* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    overflow-x: hidden;
}


/* HEADER */
header {
    display: flex;
    justify-content: center;
    padding: 10px;
    z-index: 10;
}

.header-container {
    width: 100%;
    max-width: 1920px;
}

.header-box {
    display: flex;
    justify-content: flex-end;
}

.btn-know-more {
    text-decoration: none;
    font-size: 16px;
    color: #0e462e;
    font-weight: 800;
    border-radius: 29px;
    cursor: pointer;
    user-select: none;
    background-color: #ffe530;
    padding: 12px 26px;
    transition: all 0.2s;
}
.btn-know-more:hover {
    box-shadow: 0px 6px 0px 0px #0e462e;
    transform: translateY(-8px);
    transition: all 0.4s;
}

.btn-fix:hover {
    transform: none;
}
/* END HEADER */




/* MAIN */

/* BACKGROUND'S */
.main-container {
    position: relative;
    overflow: hidden;
}

.bubble-background {
    position: absolute;
    left: 0%;
    top: -50%;
    right: 0%;
    bottom: 453px;
    z-index: -1;
    width: 100%;
    max-width: 1920px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 100%;
    background-color: #0e462e;
}
/* END BACKGROUND'S */

/* VIDEO CENTER */
.video-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    text-align: -webkit-center;
    position: relative;
    max-width: 940px;
    margin-right: auto;
    margin-left: auto;
    padding: 40px 75px;
}

.video-center h2 {
    font-size: 42px;
    font-weight: 900;
    line-height: 1.3em;
    color: #ffffff;
    margin-bottom: 17px;
}
.video-center h2 span {
    color: #ffe530;
}

.video-title {
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #3a3a3a;
    background-color: #ffe530;
    border-radius: 6px 6px 0 0;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    user-select: none;
}

.video-container iframe {
    border: 10px solid #ffe530;
    border-width: 0 10px 10px 10px;
    border-radius: 0 0 6px 6px;
    box-sizing: border-box;
}

.video-container iframe, .video-container object, .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.ytp-title {
    display: none;
}


.stamps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 130px 0 0 0;
}

.seal {
    display: flex;
    align-items: center;
    font-size: 15px;
    margin: 9px;
}
.seal img {
    user-select: none;
    width: 16px;
    height: 20px;
    margin-right: 14px;
}

.btn-purchase {
    display: flex;
    justify-content: center;
    margin-top: 22px;
}
/* END AD CENTER */

/* END MAIN */



/* BONUS */
.bonus-container {
    background: #f1f1f1;
    text-align: center;
    text-align: -webkit-center;
    padding: 38px 0 66px 0;
    margin-top: 48px;
}
.bonus-subtitle {
    font-size: 32px;
    font-weight: 700;
    color: #0e462e;
}
.bonus-title {
    color: #0e462e;
    font-size: 85px;
    font-weight: 800;
    line-height: 1.3em;
    text-transform: uppercase;
}
.bonus {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 9px 0 50px 0;
}
.bonus-box {
    position: relative;
    background-color: #ffffff;
    border-radius: 7px;
    max-width: 330px;
    padding: 12px 23px 23px 23px;
    margin: 17px;
}

.bonus-image {
    display: flex;
    justify-content: center;
    user-select: none;
}
.bonus-image img {
    max-width: 169px;
    width: 100%;
    transition: all 1s;
}
.bonus-image img:hover {
    transform: scale(1.2);
    filter: drop-shadow(3px 11px 8px #00000038);
    transition: all 1s;
}

.bonus-info {
    height: 104px;
}
.bonus-info h3 {
    color: #0e462e;
    font-weight: 800;
    margin: 13px 0 5px 0;
}
.bonus-info p {
    color: #0e462e;
}

.b-old-price {
    display: flex;
    justify-content: center;
    font-size: 21px;
    font-weight: 700;
    color: #ff0000;
    margin-top: 12px;
}
.b-old-price p {
    text-decoration-line: line-through;
    margin-left: 6px;
}
.b-price {
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    max-width: 175px;
    font-size: 21px;
    font-weight: 900;
    color: #0e462e;
    background-color: #ffe530;
    border-radius: 25px;
    padding: 8px;
}


.limited-offer {
    position: relative;
    z-index: 2;
    max-width: 1200px;
    padding: 28px 0;
}
.offer-title {
    color: #0e462e;
    font-size: 22px;
    font-weight: 800;
    margin: 0 9px;
}
.offer-time {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 14px 7px 14px 7px;
}
.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    max-width: 65px;
    border-radius: 22px;
    padding: 14px;
}
.timer:not(:last-child) {
    margin-right: 7px;
}
.timer p {
    font-size: 36px;
    font-weight: 900;
    color: #0e462e;
    line-height: 38px;
}
.timer span {
    font-size: 15px;
    color: #0e462e;
}

.btn-i-want-freebies {
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    font-weight: 800;
    border-radius: 29px;
    cursor: pointer;
    user-select: none;
    background: linear-gradient(63deg, #006238, #00ff55);
    padding: 12px 26px;
    margin: 0 7px;
    transition: all 0.5s;
}
.btn-i-want-freebies:hover {
    transform: scale(1.07);
    transition: all 0.5s;
}
/* END BONUS */



/* PRODUCT DETAILS */
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}
.section-unique {
    max-width: 1080px;
}


.info-container {
    max-width: 940px;
    text-align: center;
    text-align: -webkit-center;
    margin-top: 59px;
}
.info-subdescription span {
    font-size: 28px;
    font-weight: 700;
    color: #0e462e;
}
.info-title {
    position: relative;
}
.brush {
    position: absolute;
    display: flex;
    z-index: -1;
    right: 0;
    bottom: 0;
    height: 59px;
}
.info-title h1 {
    color: #0e462e;
    font-size: 46px;
    font-weight: 800;
    line-height: 1.3em;
    text-transform: uppercase;
    margin-bottom: 22px;
}
.info-description {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info-description span {
    font-size: 18px;
    color: #1a1a1a;
    max-width: 815px;
    margin-bottom: 20px;
}
.info-description span b {
    color: #0e462e;
    font-weight: 800;
}
.emphasis {
    display: block;
    font-size: 20px;
    text-align: center;
    text-align: -webkit-center;
}
#text-highlight {
    color: #f3a800;
}


.product-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
    border-top: 17px solid #0e462e;
    border-bottom: 8px solid #0e462e40;
    border-radius: 27px 27px 314px 7px;
    border-bottom-style: double;
    padding: 29px 10px 10px 10px;
}
.product-primary {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.product-image {
    display: flex;
    user-select: none;
}
.product-image img {
    max-width: 400px;
    width: 100%;
    margin-left: 14px;
    transition: all 1s;
}
.product-image img:hover {
    transform: scale(1.2);
    filter: drop-shadow(7px 27px 8px #0000009c);
    transition: all 1s;
}
.product-details {
    display: flex;
    flex-direction: column;
    max-width: 470px;
}
.product-details span {
    font-size: 17px;
    color: #1a1a1a;
    margin-bottom: 20px;
}
.product-details span b {
    color: #0e462e;
}
.btn-purchase-right-now {
    text-decoration: none;
    font-size: 17px;
    color: #0e462e;
    font-weight: 800;
    border-radius: 29px;
    cursor: pointer;
    user-select: none;
    background: #ffeb00;
    text-align: center;
    text-align: -webkit-center;
    padding: 17px 57px;
    margin-bottom: 22px;
    animation: btn .5s infinite alternate;
    transition: all .5s;
}
.btn-purchase-right-now:hover {
    transition: all .4s;
    background: #ffcb37;
}
@keyframes btn {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.08);
    }
}
/* END PRODUCT DETAILS */



/* HIGHLIGHT */
.highlight {
    display: flex;
    justify-content: center;
    text-align: center;
    text-align: -webkit-center;
    background-color: #857042;
    color: #ffffff;
    padding: 75px 25px;
}
.highlight-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 9px;
}
.highlight-title span {
    font-size: 30px;
    font-weight: 800;
}
.highlight-title-marker {
    color: #ffcc51;
}
.highlight-subtitle {
    font-size: 18px;
    margin-bottom: 50px;
}

.highlight-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.highlight-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 246px;
    margin: 12px;
}
.highlight-image {
    display: flex;
    margin-bottom: 10px;
    user-select: none;
}
.highlight-image img {
    max-height: 230px;
    width: 100%;
    transition: all .9s;
}
.highlight-image img:hover {
    transform: scale(1.1);
    transition: all .3s;
}
.highlight-description {
    margin-bottom: 36px;
}
.highlight-description h2 {
    color: #ffe172;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 14px;
    margin-bottom: 11px;
}
.highlight-description span {
    font-size: 16px;
    font-weight: 500;
}
/* END HIGHLIGHT */



/* CUSTOMER TESTIMONIALS */
.testimonials-title {
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: 800;
    color: #0e462e;
    text-transform: uppercase;
    margin-top: 85px;
}
.testimonials-subtitle {
    display: flex;
    justify-content: center;
    font-size: 19px;
    color: #0e462e;
}
.testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 44px;
}
.testimonials-box {
    background-color: #ffea3a;
    color: #0e462e;
    border-radius: 18px;
    max-width: 400px;
    padding: 30px;
    margin: 10px;
}
.box-green {
    background-color: #0d7046;
    color: #ffffff;
}
.box-yellow {
    background-color: #ffea3a;
}


.customer {
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.customer img {
    width: 68px;
    height: 68px;
    object-fit: cover;
    user-select: none;
    border-radius: 50%;
    margin-right: 16px;
}
.customer-info {
    display: flex;
    flex-direction: column;
}
.customer-info span {
    font-size: 15px;
}
/* END CUSTOMER TESTIMONIALS */



/* Warranty */
.warranty-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #0d7046;
    padding: 28px 25px 35px 25px;
    margin-top: 67px;
}
.warranty-seal img {
    user-select: none;
    max-height: 192px;
}
.warranty-description {
    color: #ffffff;
    max-width: 623px;
    margin-left: 48px;
}
.warranty-description span {
    font-size: 18px;
    color: #d7b262;
    letter-spacing: 5px;
}
.warranty-description h2 {
    font-size: 33px;
    font-weight: 800;
}
.warranty-description strong {
    color: #d7b262;
    font-weight: 800;
}
.warranty-description p {
    font-size: 17px;
    margin-top: 22px;
}
@media (max-width: 1102px) {
    .warranty-container {
        flex-direction: column;
    }   
    .warranty-seal img {
        width: 100%;
        margin-bottom: 30px;
    }
    .warranty-description {
        margin: 0;
    }
}
/* End Warranty */



/* FAQ */
.faq-container {
    max-width: 900px;
    margin: 56px 0;
}
.faq-container h1 {
    display: flex;
    justify-content: center;
    font-size: 32px;
    font-weight: 800;
    color: #0e462e;
    text-transform: uppercase;
    margin-top: 85px;
    margin-bottom: 35px;
}

.accordion {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #cbcbcb;
}
  
.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: #2a2a2a;
    cursor: pointer;
    padding: 15px 11px;
}

.accordion-body {
    max-height: 0;
    overflow: hidden;
    transition: max-height ease 0.5s;
    padding: 0 15px;
}
.accordion-body p {
    font-size: 16px;
    color: #545454;
    margin: 8px 0 15px 0;
}

.close img {
    height: 11px;
    width: 20px;
    transition: transform .4s;
}
.active .close img:nth-child(odd) {
    transform: rotateZ(90deg);
}
/* FAQ */


/* Offer */
.offer {
    margin-top: 50px;
    margin-bottom: 20px;
}
.offer h2 {
    color: #0e462e;
    margin-bottom: 25px;
    text-align: center;
    text-align: -webkit-center;
}
.offer-image {
    display: flex;
}
.offer-image img {
    width: 100%;
    max-width: 880px;
    user-select: none;
    transition: transform 0.6s;
}
.offer-image img:hover {
    transform: scale(1.05);
    transition: transform 0.6s;
}
.offer-price {
    display: flex;
    flex-direction: column;
    text-align: center;
    text-align: -webkit-center;
    margin-top: 27px;
}
.offer-price span {
    font-size: 28px;
}
.offer-price span b {
    font-weight: 900;
    color: #0e462e;
}
.off {
    text-decoration-line: line-through;
}
/* Offer */


/* Footer */
footer {
    display: flex;
    justify-content: center;
    background-color: #0e462e;
    padding: 31px 25px;
    margin-top: 60px;
}

.footer-description {
    display: flex;
    flex-direction: column;
    color: #c1c1c1;
    font-size: 11px;
    max-width: 1000px;
}
/* End Footer */


/* mobile responsive */
@media (max-width: 991px) {
    .video-center h2 {
        font-size: 38px;
    }


    .info-subdescription span {
        font-size: 24px;
    }
    .info-description span {
        font-size: 17px;
    }

    
    .bonus-subtitle {
        font-size: 25px;
    }
    .bonus-title {
        font-size: 65px;
    }
}

@media (max-width: 767px) {
    .video-center {
        padding: 40px 30px;
    }

    .video-center h2 {
        font-size: 28px;
    }


    .info-subdescription span {
        font-size: 23px;
    }
    .info-title h1 {
        font-size: 39px;
    }
    .info-description span {
        font-size: 16px;
    }


    .bonus-subtitle {
        font-size: 22px;
    }
    .bonus-title {
        font-size: 46px;
    }


    .product-primary {
        flex-direction: column;
    }
    .product-image img {
        max-width: 287px;
        margin-bottom: 24px;
        margin-left: 0;
    }
    .product-image img:hover {
        transform: none;
        filter: none;
    }


    .testimonials-title {
        font-size: 30px;
    }
    .testimonials-subtitle {
        font-size: 18px;
    }


    .faq-container h1 {
        font-size: 28px;
    }


    .offer-price span {
        font-size: 25px;
    }
}

@media (max-width: 519px) {
    .warranty-description span {
        font-size: 16px;
    }

    .btn-purchase-right-now {
        font-size: 18px;
    }
}

@media (max-width: 479px) {
    header {
        display: none;
    }


    .bubble-background {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        height: inherit;
        max-height: 570px;
        border-radius: 0 0 87em 3em;
    }

    .video-center {
        padding: 40px 15px;
    }
    .video-center h2 {
        font-size: 32px;
    }
    .video-title {
        font-size: 14px;
    }
    .video-container iframe {
        border-width: 0 7px 7px 7px;
    }


    .info-subdescription, .info-description {
        text-align: left;
    }
    .info-title h1 {
        padding: 20px 0;
        font-size: 32px;
    }


    .bonus-subtitle {
        font-size: 21px;
        padding: 0 6px;
    }
    .bonus-title {
        font-size: 38px;
    }
    .offer-title {
        font-size: 20px;
    }
    .timer:not(:last-child) {
        margin-right: 4px;
    }
    .timer p {
        font-size: 30px;
    }
    .timer span {
        font-size: 14px;
    }


    .product-info {
        border-top: 11px solid #0e462e;
        /* border-radius: 27px 27px 10px 10px; */
    }


    .warranty-description span {
        letter-spacing: 3px;
    }
    .warranty-description h2 {
        font-size: 30px;
    }
    .warranty-description p {
        font-size: 16px;
    }

    .offer-price span {
        font-size: 20px;
    }
    .offer-purchase {
        font-size: 16px;
        padding: 14px 24px;
    }
}

@media (max-width: 402px) {
    .bonus-subtitle {
        font-size: 17px;
        padding: 0 6px;
    }
    .bonus-title {
        font-size: 30px;
    }

    .offer-title {
        font-size: 18px;
    }
    .timer p {
        font-size: 28px;
    }
}

@media (max-width: 344px) {
    .faq-container h1 {
        font-size: 25px;
    }
}
/* end mobile responsive */
